 * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
} 

nav {
	height: 50px;
	width: 100%;	
	background-color: #000;
	position: fixed;
	top: 0;

}

.target {
	padding-top: 15px;
	padding-left: 33%;
	background-color: #000;
}

li {
	display: inline-block;
	padding-right: 15px;
	list-style: none;
	text-align: center;
	
}

li> a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

p {
	margin-top: 55px;
	color: green;
	padding: 0px 10px 0px 10px;
}
